{% extends 'base.html' %}
{% load static %}

{% block title %}Nueva Contraseña - PsyMetrics{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <form class="auth-form" method="POST">
                {% csrf_token %}
                <p class="auth-heading">Establecer Nueva Contraseña</p>
                
                <div class="auth-field">
                    <i class="fas fa-lock input-icon"></i>
                    <input type="password" name="new_password1" class="auth-input" 
                           placeholder="Nueva contraseña" required>
                </div>
                
                <div class="auth-field">
                    <i class="fas fa-lock input-icon"></i>
                    <input type="password" name="new_password2" class="auth-input" 
                           placeholder="Confirmar nueva contraseña" required>
                </div>
                
                <button type="submit" class="btn-auth-primary w-100">
                    Cambiar Contraseña
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}